/* Login form styles */
.login-content {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content h1,
.register-content h1 {
  font-size: var(--title-font-size);
  padding-bottom: 3rem;
  margin-top: -0.5rem;
}

.login-form {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 1000px;
  min-height: 400px;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
}

.user-credentials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: 100%;
}

.login-form label {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-top: 0.8rem;
}

.login-form p {
  font-weight: 600;
}

.login-form button {
  align-self: center;
}

.user-type-selection {
  justify-content: left;
  flex-flow: column;
  margin-right: -30px;
  text-align: center;
  padding: 0 rem;
  align-items: center;
  flex-direction: column;
}

.user-type-selection div {
  padding-bottom: 1rem;
}
.user-type-selection h3 {
  color: #eee;
  padding: 0.5rem;
}
.user-type-selection label {
  padding: 0 1rem 0rem 0.6rem;
  color: #eee;
  align-items: center;
}

.user-credentials label {
  color: #eee;
}

.user-credentials h2 {
  color: rgb(253, 253, 253);
}

.user-credentials input {
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  color: rgb(153, 101, 4);
  outline: none;
  border: 1px #f1c856 solid;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.register-now {
  color: rgb(231, 131, 0);
  padding: 1rem 0.8rem;
}

/* Pseudo style */
.user-credentials input:focus {
  border: 1px solid var(--secondary-accent-color);
}

/* Media queries */
@media screen and (max-width: 500px) {
  .login-form {
    padding: 2rem;
  }

  .login-form label {
    font-size: 1rem;
  }

  .login-content h2 {
    padding: 1rem 1rem 2rem 1rem;
    color: rgb(241, 240, 240);
  }

  .researcher {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .bg-img {
    /* The image used */
    background-image: url(../../assets/images/login.jpg);

    /* Control the height of the image */
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
