#customers {
  width: 75%;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-radius: 1px;
  border-color: rgb(19, 18, 18);
}

#customers td,
#customers th {
  border: 1px solid rgb(255, 237, 71);
  border: 1px;
  justify-content: center;
  text-align: left;
}

#customers tr {
  background-color: #f5e028;
  border: 1px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}

#customers tr:hover {
}

#customers th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(32, 32, 29);
  color: white;
}
#customer tr {
  border: 1px;
  border-radius: 1px;
  border-color: rgb(14, 14, 15);
}
